In [1]:
import pandas as pd

In [13]:
train = pd.read_csv("/Users/jalemrajrohit/Desktop/Data Science/Kaggle/Winston_Challenge/train.csv")

train.head()

#len(train) # <-- 40000
#train.shape  # <-- (40000, 211)

,Id,Feature_1,Feature_2,Feature_3,Feature_4,Feature_5,Feature_6,Feature_7,Feature_8,Feature_9,...,Ret_175,Ret_176,Ret_177,Ret_178,Ret_179,Ret_180,Ret_PlusOne,Ret_PlusTwo,Weight_Intraday,Weight_Daily
0,1,NaN,NaN,NaN,NaN,8,NaN,75751,0.2254,11,...,-0.002688,0.002246,-0.000838,-6.953224e-04,0.000003,-0.001974,-0.019512,0.028846,1251507.965681,1564384.957101
1,2,NaN,NaN,NaN,NaN,3,0.388896,17369,0.0166,13,...,-0.000129,0.000123,0.000248,3.315418e-07,0.000003,0.000027,-0.002939,-0.010253,1733950.349065,2167437.936331
2,3,NaN,-0.696727,0.739591,-0.167928,9,0.471947,8277,0.3650,9,...,-0.000524,-0.000394,0.000116,5.322557e-04,0.000274,0.000784,-0.024791,0.015711,1529197.383151,1911496.728938
3,4,NaN,-0.694350,1.568248,0.479073,5,0.120653,22508,0.2654,13,...,0.000346,-0.000090,0.000288,-1.281102e-04,0.000074,0.000341,-0.005680,-0.002190,1711569.423695,2139461.779618
4,5,6,-1.736489,2.765531,1.245280,7,4.866985,22423,0.2138,13,...,-0.001235,0.000027,0.002449,8.619882e-06,0.001209,-0.000004,0.036104,-0.026552,1267270.264754,1584087.830943

In [4]:
test = pd.read_csv("/Users/jalemrajrohit/Desktop/Data Science/Kaggle/Winston_Challenge/test.csv")

test.head()

,Id,Feature_1,Feature_2,Feature_3,Feature_4,Feature_5,Feature_6,Feature_7,Feature_8,Feature_9,...,Ret_111,Ret_112,Ret_113,Ret_114,Ret_115,Ret_116,Ret_117,Ret_118,Ret_119,Ret_120
0,1,NaN,-0.479347,0.716679,0.765301,6,NaN,36450,0.2064,14,...,-0.000135,-0.000002,-0.000144,0.000931,0.000280,0.000796,-0.000272,-0.000683,0.002010,-0.001187
1,2,NaN,-1.556631,-0.544329,-0.041571,2,-0.401548,77624,0.3418,10,...,-0.000384,-0.000382,0.000387,0.000392,0.001579,-0.000019,0.000803,0.000001,-0.000002,-0.002382
2,3,NaN,-1.124463,0.750519,0.801993,8,0.463234,44942,0.0166,11,...,-0.000013,0.000801,-0.000278,-0.000255,0.000534,0.000272,-0.000778,0.001060,0.000010,-0.000805
3,4,NaN,2.404529,1.371021,1.135463,1,3.470399,35071,0.2208,12,...,-0.002180,0.000206,-0.000053,-0.002894,-0.003772,0.001737,0.003756,-0.000863,-0.000873,-0.000302
4,5,1,0.180297,-0.107651,-0.272008,8,0.198879,1188,0.2254,NaN,...,-0.000204,0.000176,-0.000204,NaN,-0.000004,0.000026,0.000201,0.000004,NaN,0.000007

In [12]:
sample = pd.read_csv("/Users/jalemrajrohit/Desktop/Data Science/Kaggle/Winston_Challenge/sample_submission.csv")

sample.head(30)

      Id  Predicted
0    1_1          0
1    1_2          0
2    1_3          0
3    1_4          0
4    1_5          0
5    1_6          0
6    1_7          0
7    1_8          0
8    1_9          0
9   1_10          0
10  1_11          0
11  1_12          0
12  1_13          0
13  1_14          0
14  1_15          0
15  1_16          0
16  1_17          0
17  1_18          0
18  1_19          0
19  1_20          0
20  1_21          0
21  1_22          0
22  1_23          0
23  1_24          0
24  1_25          0
25  1_26          0
26  1_27          0
27  1_28          0
28  1_29          0
29  1_30          0